@font-face {
	font-family: futura;
	src: url(./Fonts/FUTURAL.TTF);
}

body {
  height: 100vh;
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: rgba(25, 37, 75, 0.5) !important;
  color: white;
}

.nav-link, .navbar-brand {
  letter-spacing: 1.5px !important;
  color: white !important;
}

.jumbotron {
  margin-top: 60px;
  background-color: rgba(25, 37, 75, 0.5) !important;
  color: white;
  font-family: futura;
}

.jb1 {
  margin-top: 200px;
}

.brand {
  width: 400px;
  text-align: center;
  margin: auto;
}

.btn {
  border: none;
  background-color: rgba(0, 0, 0, .0) !important;
  font-family: futura;
  font-size: 2rem;
  margin: 0% !important;
}

.lead {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
  font-family: futura;
  color: white;
}

h1, h2, h3 {
  font-family: futura;
  color: white;
}

.team {
  border-radius: 50%;
}

.form-group {
  font-family: futura;
  color: white;
}

.template {
  width: 200px;
  border-radius: 15px;
}

.imgBorder {
  border-radius: 15px;
}

a {
  color: #ffffff;
}
